.target-container {
    position: relative;
    width: 580px;
    height: 488px;
    z-index: 1;
    background: url( '/stylesheets/assets/car_model.png' );
}

.target-container-slice {
    position : absolute;
    border : 1px dotted #DEB887;
}

.slice {
    position : absolute;
    cursor: move;
    background-repeat: no-repeat;
}

.button-shuffle {
    width: 120px;
    height: 40px;
    margin-bottom: 10px;
}

.action-view-container {
    position: relative;
    float: left;
    width: 400px;
}
