<h1>{{title}}</h1>

<article>
	<h3>Web Sockets</h3>
	
	<p>
		Web Sockets allow full-duplex communication between client and server. Client might be browser but this is not a requirement - any application may use them in order to communicate with other applications.<br>
	</p>

	<p>
		From web developer's point of view WebSockets provide invaluable features. We can now send data to server and receive data in the same time. No more pooling. In fact, this is the proper way to create realtime applications.
	</p>

	<p>
		The examples below don't use raw WebSockets. Instead, I am using Socket.io which checks what browser supports, so WebSockets might be used, but might be not. In general, the API is similar to those, specified <a href="http://dev.w3.org/html5/websockets/#the-websocket-interface">here</a>.

	<p>
		Classic example - <a href="/communication/chat">realtime chat server</a>
	</p>

	<p>
		Non-classic example - <a href="/communication/puzzle">multi collaboration puzzle</a>
	</p>
</article>

<a href="/">Back to main page</a>