<h1>{{title}}</h1>

<article>
	<h2>Multiple new features:</h2>

	<div class="example border-radius">
		<strong>Border radius example.</strong>
		<p>
			border-radius: 15px;<br>
			box-shadow: 10px 10px 10px 5px #DDD;
		</p>
	</div>

	<div class="example box-shadow">
		<strong>Box shadow example.</strong>
		<p>
			border-radius: 15px;<br>
			box-shadow: 10px 10px 10px 5px #DDD;
		</p>
	</div>

	<div class="example text-shadow">
		<strong>Text shadow example.</strong><br>Multiple shadows are allowed too!
		<p>
			text-shadow: 1px 1px 1px #D7D;
		</p>

		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ornare, magna sit amet sollicitudin hendrerit, nulla erat convallis metus, eget varius metus lorem eu metus. Quisque consequat tristique egestas. Integer facilisis lectus sit amet nisl convallis pulvinar. Proin ipsum enim, commodo eget tempus eu, viverra eget mi. Pellentesque dictum eros at turpis ultrices fringilla. Mauris convallis neque eget elit elementum imperdiet. Donec ut nibh urna. Fusce quis metus augue, vitae consectetur nisi. Mauris tincidunt nisl et lacus malesuada dapibus at vitae tellus.
		</p>
	</div>

	<div class="example overflow-wrap">
		<strong>Overflow-wrap example.</strong>
		<p>
			overflow-wrap: break-word;
		</p>

		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
		</p>
	</div>

	<div class="example resizable-elements">
		<strong>Resizable div element.</strong>
		<p>
			You can specify <tt>resize: horizontal;<tt> or <tt>resize: vertical;</tt>, to set <tt>min-width</tt>, <tt>min-height</tt> or <tt>max-width</tt> and <tt>max-height.</tt>
		</p>

		<p>
			resize: both;
		</p>

		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ornare, magna sit amet sollicitudin hendrerit, nulla erat convallis metus, eget varius metus lorem eu metus. Quisque consequat tristique egestas. Integer facilisis lectus sit amet nisl convallis pulvinar. Proin ipsum enim, commodo eget tempus eu, viverra eget mi. Pellentesque dictum eros at turpis ultrices fringilla. Mauris convallis neque eget elit elementum imperdiet. Donec ut nibh urna. Fusce quis metus augue, vitae consectetur nisi. Mauris tincidunt nisl et lacus malesuada dapibus at vitae tellus.
		</p>
	</div>

	<div class="example multiple-backgrounds">
		<strong>Multiple background images.</strong>
	</div>
	
</article>

<div class="back">
	<a href="/">Back</a>
</div>
