<h1>{{title}}</h1>

<p>
This an example site, built using NodeJS and YUI. Its purpose is to present a few of the new features in HTML5 and CSS3.
</p>

<p>
Keep in mind that these examples won't work on every browser, so if you want to see them in action, please use more recent one.
</p>


<h3>HTML5</h3>
<ul>{{#html5}}<li>{{{link_to this}}}</li>{{/html5}}</ul>

<h3>CSS3</h3>
<ul>{{#css3}}<li>{{{link_to this}}}</li>{{/css3}}</ul>

<p>
Iliyan Peychev, September, 2011
</p>

<p>
<a href="https://plus.google.com/101163834202763493709">Me</a> on Google+
<br>
<a href="http://twitter.com/#!/ipeychev">Me</a> on Twitter
</p>