<h1>{{title}}</h1>

<article>
	<p>
	HTML5 introduces a few new input types. In addition to "text", "file", etc., developers can now specify other input fields. All they have limited support by browsers.
	Check the examples below using Opera 11 or above:
	</p>

	<div class="input-container">
		<p>Color (only visible in Opera 11 so far)</p>
		<input type="color" value="#ff0000">
	</div>

	<div class="input-container">
		<p>Date</p>
		<input type="date" value="2011-09-29">
	</div>

	<div class="input-container">
		<p>DateTime</p>
		<input type="datetime" value="1996-12-19T16:39:57-08:00">
	</div>

	<div class="input-container">
		<p>DateTime-local</p>
		<input type="datetime-local" value="2011-09-29T16:39:57">
	</div>

	<div class="input-container">
		<p>Email</p>
		<input type="email" value="sales-es@liferay.com">
	</div>

	<div class="input-container">
		<p>Month</p>
		<input type="month" value="2011-09">
	</div>

	</div class="input-container">
		<p>Number</p>
		<input type="number" value="23">
	</div>

	<div class="input-container">
		<p>Password</p>
		<input type="password" value="secretpassword">
	</div>

	<div class="input-container">
		<p>Tel</p>
		<input type="tel" value="+34917336343">
	</div>

	<div class="input-container">
		<p>Text</p>
		<input type="text" value="Hello World">
	</div>

	<div class="input-container">
		<p>Time</p>
		<input type="time" value="16:18">
	</div>

	<div class="input-container">
		<p>URL</p>
		<input type="url" value="www.liferay.com">
	</div>

	<div class="input-container">
		<p>Week</p>
		<input type="week" value="2011-W38">
	</div>

	<div class="input-container">
		<p>Search</p>
		<input type="search" value="">
	</div>

	<p>
		<a href="../">Back</a>
	</p>
</article>