<!DOCTYPE html>

<html>
	<head>
		<title>{{title}}</title>
		<link rel='stylesheet' href='/stylesheets/style.css'>

		{{#array cssLinks}}{{> cssLink}}{{/array}}
	</head>
	<body class="yui3-skin-sam yui-skin-sam">
		{{{body}}}
	</body>
</html>