<h1>{{title}}</h1>

<article>
	<h3>Multi collaborative puzzle</h3>

	<div class="yui3-u">
		<div class="yui3-g">
			<div class="yui3-u-3-4">
				<div id="chatLogContent" class="chat-log-content">
				</div>
			</div>
			<div class="yui3-u-1-4">
				<div id="chatUsersContent" class="chat-users-content"></div>
			</div>
		</div>

		<div class="yui3-u-1">
			<div class="chat-data-container">
				<input id="chatDataContent" class="chat-data-content"></input>
				<button id="chatDataContentSend" class="chat-data-send">Send</button>
			</div>
		</div>
	</div>
</article>

<a href="../">Back</a>